*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    min-height: 100vh;
    background: url(../img/backgr.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #222222;
    box-shadow: 0 5px 20px rgb(0, 0, 0, .1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; 
}
header .logo{
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li{
    position: relative;
    float: left;
}

header .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #ffffff;
    display: block;
    background: #222222;
}

header .navbar ul li a:hover{
    background: #9a2828;
    color: #fff;
}

header .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #fff;
    display: none;
    color: #222222;
}

header .navbar ul li ul li{
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 1);
    background: #ffffff;
    color: #222222;
}

header .navbar ul li ul li a{
    background: #fff;
    color: #222222;
}

header .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{
    display: initial;
    background: #fff;
    color: #222222;
}






@media(max-width:991px){
    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }
}